@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage"/>

<div class="text-center">
    <h1 class="display-4">Xin Chào</h1>
    <p>Đây là một trang web demo về ứng dụng MVC.</p>
</div>
